*, ::before, ::after {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.text-block {
    background: rgba(51, 50, 50, 0.5);
    border-radius: 6px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    max-width: 1200px;
}

.mc-button {
    color: white;
    border-radius: 3px;
    border-style: solid;
    background-color: #797979;
    font-size: 13px;
    padding: 1px 4px;
}